@page {
  margin: 0;
}
* {
  margin-top: 0em;
  margin-bottom: 0em;
}
.footnote {
  font-size: 80%;
}
h1 {
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  margin: 0.9em 0 0.7em 0;
}
h2 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 0.8em 0 0.4em 0;
}
h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0.5em 0 0.2em 0;
}
